# Add entries to this file to generate them automatically upon running
# rake record_loader:all or rake record_loader:<%= underscore %>
# If you want entries which are only created in development mode then simply
# create a file in this directory ending in '.dev.yml'
# You can add as many additional .yml files to this directory as you wish.
<%= build_example_hash(2).to_yaml.gsub(/^/,'# ') %>
